@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
  font-family: 'Noto Sans KR', sans-serif;
}
